<html>
<head>
    <meta charset="utf-8"/>
    <title>shoppingCar</title>
    <link rel="stylesheet" href="style/reset.css"/>
    <link rel="stylesheet" href="style/main.css"/>
    <link rel="stylesheet" href="font/fonts/font.css"/>
    <link rel="stylesheet" href="style/bg-color.css"/>
    <link rel="stylesheet" href="style/style1.css"/>
    <link rel="stylesheet" href="components/modal-dialogue/style.css">
    <!-- override parent property -->
    <style>
        body {
            height: initial;
            position: relative;
        }
    </style>
    <!-- modal-dialogue x-template -->
    <script type="text/x-template" id="modal-dialogue" src="components/modal-dialogue/template.js">
        <div class="main-wrapper" v-show="isShow">
            <div class="dialogue-cover"></div>
            <div class="dialogue-frame">
                <div class="dialogue">
                    <p class="title" v-text="title || 'Title'"></p>
                    <p class="message" v-text="message || 'Message'"></p>
                    <div class="action">
                        <p class="item emergency">
                            <button key="yes" v-text="yesText || 'Yes'"
                            v-on:click="confirm"
                            v-bind:options="{state:2, size:2}" ></button>
                        </p>
                        <p class="item">
                            <button key="no"  v-text="noText || 'No'"
                            v-on:click="toggleModal"
                            v-bind:options="{state:0, size:2}"></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </script>
</head>
<body>
<div id="container">
    <div id="shoppingCar">
        <header class="title-wrap"><span class="line-v"></span><span class="title">购物车</span><span
                class="line-v"></span></header>
        <form>
            <table class="detial-wrap">
                <tr>
                    <th>商品信息</th>
                    <th>商品金额</th>
                    <th>商品数量</th>
                    <th>总金额</th>
                    <th>编辑</th>
                </tr>
                <tr v-for="item in cartList">
                    <td class="goods-detial-wrap">
                        <div class="checkbox-wrap left"><span class="checkbox" :class="{'checked': item.isChecked}" @click="toggleItem(item)" @onselect="toggleItem(item)"></span></div>
                        <div class="goods-detial right">
                            <div class="good-img left"><img src="img/test.jpg"/></div>
                            <div class="good-text left">
                                <div class="name" v-text="item.name">喵星人</div>
                                <dl class="gifts" v-for="(part, index) in item.parts">
                                    <dt :style="{visibility: index == 0 ? 'visible' : 'hidden'}" >赠送：</dt>
                                    <dd v-text="part">萌萌</dd>
                                </dl>
                            </div>
                        </div>
                    </td>
                    <td class="unitprice" v-text="item.price">19</td>
                    <td class="buy-num">
                        <div class="choosenum-handler"><i class="icon-minus"  @click="changeQuantity(item, -1)"></i>
                            <span class="countbox" v-text="item.quantity">2</span>
                            <i class="icon-plus" @click="changeQuantity(item, 1)"></i></div>
                        <div class="stock onsell"></div>
                    </td>
                    <td class="amount" v-text="getPrice(item)"></td>
                    <td class="icon icon-delete" @click="requestDeletion(item)"></td>
                </tr>
            </table>
            <footer class="checkout-wrap">
                <div class="total-check-wrap left">
                    <div class="checkbox-wrap left"><span class="checkbox" :class="{checked: allChecked}" @click="checkAll(!allChecked)"></span></div>
                    <div class="check-text"><span class="checked-all" @click="checkAll(true)">全选</span><span class="unchecked-all" @click="checkAll(false)">取消全选</span>
                    </div>
                </div>
                <div class="checkout right">
                    <div class="total-money"><span class="name" >总金额 :</span><span class="amount" v-text="totalMoney()">5元</span></div>
                    <input type="submit" value="结账" class="danger"/>
                </div>
            </footer>
        </form>
    </div>
</div>
<!-- modal-dialogue -->
<div id="md-wrapper">
    <modal-dialogue title="真的要刪除？" message="刪除後無法復原！" 
    yes-text="刪除" no-text="取消"></modal-dialogue>
</div>
</body>
<script type="text/javascript" src="scripts/vue.js"></script>
<script type="text/javascript" src="scripts/vue-resource.js"></script>
<script type="text/javascript" src="scripts/eventHub.js"></script>
<script type="text/javascript"
src="components/modal-dialogue/script.js"></script>
<script type="text/javascript" src="scripts/cart.js"></script>
</html>
